body, html{
  height:100%;
}
body{
  background-image: url('dancers/dancebackground.png');
  background-size: cover;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
img {
  height: 25%;
  width: 25%;
}


.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.blink {
  position:absolute;
}

.slide{
  position:absolute;
  transform: translate(10%);
  transition-duration: 5s;
}